*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
a{
    text-decoration: none;
}
.container{
    background: #373A3C;
}
.header__logo{
    align-items: center;
    height: 60px;
    max-width: 1069.98px;
    margin: 0 auto;
    display: flex;
}
.header__text__container{
    display: flex;
    margin-left: 270px;
}
.header__text__block{
    display: flex;
    align-items: center;
}
.down-arrow{
    width: 12px;
    height: 6.55px;
}
.header__text__games{
    padding-right: 15px;
}
.header__text__block1{
    padding-right: 15px;
}
.indent{
    padding-right: 28px;
}
.header__text__games{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.header__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.input__search{
    padding: 8px 15px 9px 15px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 37px; 
}
.user{
    width: 20px;
    height: 20px;
}
.heder__myxbox__container{
    display: flex;
    align-items: center;
    margin-left: 29px;
}
.heder__myxbox__img{
    padding-right: 9px;
}
.heder__myxbox__img__indent{
    margin-left: 16px;
}
/*section*/
.section__wrap{
    background-image: url(../img/Star-Wars-Battlefront-II-combat.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.section__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;

    
}
.section__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    z-index: 2;
    color: #FFFFFF;
}
.position{
    padding-top: 206px;
    margin-left: 696px;
}
.section__container{
    max-width: 1400px;
    margin: 0 auto;
}
.container__sort{
    display: flex;
}
.section__img__block{
    width: 135px;
    height: 648px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev{
    align-items: center;
}
.section__btn__green{
    background: #8DD83D;
    border-radius: 4px;
    padding: 8px 27px 9px 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.section__btn__grey{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    padding: 8px 27px 9px 26px;
}
.section__btn__container{
    margin-top: 135px;
}
.carousel-indicators{
    width: 50px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    bottom: -618px;
    left: -519px;
}
.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;
}
.section__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    
    color: #FFFFFF;
}
.section__block{    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__text__container1{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/*banner*/
.banner__wrap{
    background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
}
.section__containers{
    display: flex;
    max-width: 1088px;
    margin: 0 auto;
    padding-top: 43px;
}
.xbox_icon{
    padding-top: 64px;
}
.title{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    
    color: #FFFFFF; 
}
.section__text__header{
    margin-top: 64px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    
    color: #FFFFFF;
}
.section__text__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;
}
.section__block__cart{
    width: 320px;
    background: #FFFFFF;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #8DD83D;
    border-radius: 4px;
    margin-bottom: 162px;
}
.cart__indent{
    margin-right: 64px;
}
.cart__indent1{
    margin-right: 55px;
}
.cart__mixer{
    width: 209px;
    height: 61px;
}
.cart__img__block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 318px;
    height: 180px;
}
.cart__img{
    width: 320px;
    height: 180px;
}
.section__cart__title{
    margin-bottom: 13px;
    margin-left: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #435766;
}
.section__cart__text{
    margin-bottom: 40px;
    margin-left: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #435766;
}
.btn{
    background: #8DD83D;
    border-radius: 4px;
    width: 278px;
    height: 60px;
    border: 0;
}
.cart__button{
    margin-left: 22px;
    margin-bottom: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    
    
    color: #FFFFFF;
}
.registration__input{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 2px rgba(0, 29, 108, 0.07);
    border-radius: 5px;
    width: 204px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 15px;
    border: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    
    color: rgba(0, 0, 0, 0.5);
}
.registration__container{
    max-width: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration{
    margin: 0 auto;
}
.registration__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #979797;
    margin-top: 40px;
    margin-bottom: 25px;
}
.registration__button{
    background: #8DD83D;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    width: 220px;
    height: 50px;
    margin-top: 5px;
    border: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FDFDFF;
}
.registration__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}
/*games*/
.games__wrap{
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.games__title{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 114px;
}
.games__text{
    padding-top: 10px;
    padding-bottom: 39px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 539px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
}
.games__container{
    max-width: 1088px;
    margin: 0 auto;
}
.button__games__block{
    padding-bottom: 145px;
}